<%- include("./partials/header") %>
<!--  -->
<%- include("./partials/nav") %>

        

            
        <div
        class=" flex justify-around items-center rounded-xl mb-8 mt-[6vw] left-[50%] bottom-[5%] translate-x-[120%] w-[30%] py-3   bg-blue-700 text-2xl text-white">
            <i class="ri-search-line"></i>
            <a href="/post-create" class="ri-add-large-line"></a>
            <a href="/update-user/<%= user._id %>" class="">
                <img class="rounded-full w-[2vmax] h-[2vmax] " src="/images/<%= user.profilepic %>" alt="">
            </a>
        </div>



      <div class="m-auto flex flex-wrap">

        <% posts.forEach((post)=> { %>


          <div class="bg-gray-100 p-4  flex flex-wrap gap-10 items-center ">
              <div class="bg-white border rounded-sm w-[25%]">
              <div class="flex items-center px-4 py-3">
                  <img class="h-12 w-12 rounded-full" src="/images/<%= post.user ? post.user.profilepic : 'default.png' %>"/>
                  <div class="ml-3 ">
                  <span class="text-sm font-semibold antialiased block leading-tight">
                    <%= post.user ? post.user.name : 'Unknown User' %>  
                  </span>
                  <span class="text-gray-600 text-xs block">
                      <%= post.createdAt.toLocaleTimeString()%> |
                      <%= post.createdAt.toLocaleDateString()%>
                  </span>
                  </div>
              </div>
              <img src="/images/<%= post.media %>"/>
              <div class="flex items-center justify-between mx-4 mt-3 mb-2">
                  <div class="flex gap-5">


                    <span class="text-md">
                            <%= post.likes.length%>
                        </span>
                        <a href="/like/<%= post._id%>">
                            <% if(post.likes.includes(user._id)) { %>
                                <i class="text-red-300 ri-heart-3-fill"></i>
                                <% } else { %>
                                    <i class="ri-heart-3-line"></i>
                                <% } %>
                        </a>


                  </div>
                  <div class="flex">
                  <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path></svg>
                  </div>
              </div>
              <div class="font-semibold text-sm mx-4 mt-2 mb-4">92,372 likes</div>
              </div>
      
      
            
      
      
              
      
      
      
      </div>


      <% }) %>

      </div>



    


<!--  -->
<%- include("./partials/footer") %>