<%- include("./partials/header") %>

<%- include("./partials/nav") %>

    


<div class="min-h-screen flex justify-center items-center bg-white">
    <div class="p-10 border-[1px] -mt-10 border-slate-200 rounded-md flex flex-col items-center space-y-3">
        <a class="text-red-400" href="/reset-password/<%= user._id%>">ResetPassword</a>
    <div class="py-4 text-2xl flex justify-center items-center flex-col font-bold">
            <!-- <img class="h-20 w-20 my-2 rounded-full" src="https://picsum.photos/id/1027/150/150"/> -->
            <!-- <img class="preview-image mr-10 w-[20vh] h-[20vh] rounded-full object-cover" src="<%= user.profilepic%>" -->
            <h1><%= user.name %></h1>

            <form class="hidden form-image" action="/image/<%= user._id%>" method="post">
                <input class="input-image" type="file" name="profilepic">
            </form>

           
           
    </div>

       <form class="flex flex-col gap-5" action="/update-user/<%= user._id%>" method="post">

        

        <input class="p-3 border-[1px] border-slate-500 rounded-sm w-80" placeholder="Enter Your Fullname" name="name" value="<%= user.name %>" />

        <input class="p-3 border-[1px] border-slate-500 rounded-sm w-80" placeholder="E-Mail or Phone number" name="email" value="<%= user.email %>"/>

        <input class="p-3 border-[1px] border-slate-500 rounded-sm w-80" placeholder="Username" name="username" value="<%= user.username %>" />
  
        <div class="flex flex-col space-y-5 w-full">
            
            <button class="w-full bg-[#0070ba] rounded-3xl p-3 text-center text-white font-bold transition duration-200 hover:bg-[#003087]">Register</button>

        </div>
        </div>

       </form>

    

</div>

<script>
    const inputimage = document.querySelector(".input-image");
      const previewimage = document.querySelector(".preview-image")
      const formimage = document.querySelector(".form-image")
      previewimage.addEventListener("click", function () {
        inputimage.click()
      })
      inputimage.addEventListener("change", function () {
        formimage.submit()
      })
</script>

  <%- include("./partials/footer") %>